@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
  .smooth-scroll {
    scroll-behavior: smooth;
  }
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: 'Inter', sans-serif;
  @apply bg-fintech-gray text-slate-800;
}

