CREATE TABLE IF NOT EXISTS public.cron_jobs (
    id UUID PRIMARY KEY DEFAULT uuid_generate_v4(),
    name TEXT NOT NULL,
    type TEXT NOT NULL,
    schedule TEXT NOT NULL,
    last_run TIMESTAMPTZ,
    next_run TIMESTAMPTZ,
    status TEXT DEFAULT 'Active',
    created_at TIMESTAMPTZ DEFAULT now(),
    updated_at TIMESTAMPTZ DEFAULT now()
);

INSERT INTO public.cron_jobs (name, type, schedule, status) VALUES
('EOD Settlement & M2M', 'System', '0 16 * * *', 'Active'),
('Daily Brokerage Report', 'Report', '30 23 * * *', 'Active'),
('Auto-Square Off (Intraday)', 'Risk', '15 15 * * *', 'Active'),
('Database Backup', 'Maintenance', '0 2 * * *', 'Active'),
('Dormant Account Tagging', 'Maintenance', '0 0 1 * *', 'Paused')
ON CONFLICT DO NOTHING;

