CREATE TABLE IF NOT EXISTS public.reports (
    id UUID PRIMARY KEY DEFAULT uuid_generate_v4(),
    report_type TEXT NOT NULL,
    target_entity TEXT,
    format TEXT NOT NULL,
    status TEXT DEFAULT 'Ready',
    file_size TEXT,
    created_at TIMESTAMPTZ DEFAULT now(),
    updated_at TIMESTAMPTZ DEFAULT now()
);

INSERT INTO public.reports (report_type, target_entity, format, status, file_size) VALUES
('Users List', 'Global', 'CSV', 'Completed', '2.4 MB'),
('Monthly P&L', 'Global', 'Excel', 'Completed', '5.1 MB'),
('Order Book', 'Global', 'JSON', 'Completed', '12.8 MB'),
('Weekly Settlement', 'Master MST-001', 'PDF/Excel', 'Ready', '1.1 MB'),
('Client Ledger', 'TDX-82491', 'PDF', 'Ready', '0.5 MB'),
('Brokerage Summary', 'Global System', 'Excel', 'Ready', '3.2 MB'),
('Risk Exposure', 'Global System', 'PDF', 'Ready', '1.8 MB')
ON CONFLICT DO NOTHING;

