CREATE TABLE IF NOT EXISTS public.api_keys (
    id UUID PRIMARY KEY DEFAULT uuid_generate_v4(),
    name TEXT NOT NULL,
    user_id TEXT,
    key TEXT NOT NULL,
    req_per_sec INTEGER DEFAULT 10,
    status TEXT DEFAULT 'Active',
    last_used TIMESTAMPTZ,
    created_at TIMESTAMPTZ DEFAULT now(),
    updated_at TIMESTAMPTZ DEFAULT now()
);

CREATE TABLE IF NOT EXISTS public.client_tiers (
    id UUID PRIMARY KEY DEFAULT uuid_generate_v4(),
    tier_name TEXT NOT NULL,
    brokerage_multiplier NUMERIC,
    margin_multiplier NUMERIC,
    auto_square_off TEXT,
    api_access BOOLEAN,
    created_at TIMESTAMPTZ DEFAULT now(),
    updated_at TIMESTAMPTZ DEFAULT now()
);

CREATE TABLE IF NOT EXISTS public.revenue_leakage (
    id UUID PRIMARY KEY DEFAULT uuid_generate_v4(),
    source TEXT NOT NULL,
    impact NUMERIC,
    status TEXT,
    severity TEXT,
    created_at TIMESTAMPTZ DEFAULT now(),
    updated_at TIMESTAMPTZ DEFAULT now()
);

CREATE TABLE IF NOT EXISTS public.market_control (
    id UUID PRIMARY KEY DEFAULT uuid_generate_v4(),
    session_name TEXT,
    status TEXT,
    open_time TEXT,
    close_time TEXT,
    type TEXT,
    created_at TIMESTAMPTZ DEFAULT now(),
    updated_at TIMESTAMPTZ DEFAULT now()
);

CREATE TABLE IF NOT EXISTS public.smart_spread (
    id UUID PRIMARY KEY DEFAULT uuid_generate_v4(),
    profile_name TEXT,
    base_spread NUMERIC,
    volatility_multiplier NUMERIC,
    active_clients INTEGER,
    status TEXT,
    created_at TIMESTAMPTZ DEFAULT now(),
    updated_at TIMESTAMPTZ DEFAULT now()
);

INSERT INTO public.api_keys (name, user_id, key, status, req_per_sec) VALUES
('QuantFund Alpha', 'TDX-88210', 'pk_live_8f9d21a1', 'Active', 50),
('HFT Bot 1', 'TDX-82491', 'pk_live_2b4c9f2e', 'Active', 100),
('Reporting Webhook', 'MST-001', 'pk_test_7c1a4b3d', 'Revoked', 5)
ON CONFLICT DO NOTHING;

INSERT INTO public.client_tiers (tier_name, brokerage_multiplier, margin_multiplier, auto_square_off, api_access) VALUES
('Standard', 1.0, 1.0, '15:15', false),
('Premium', 0.8, 1.5, '15:20', false),
('HFT/Algo', 0.5, 2.0, '15:25', true),
('Institutional', 0.3, 4.0, 'None', true)
ON CONFLICT DO NOTHING;

INSERT INTO public.revenue_leakage (source, impact, status, severity) VALUES
('Slippage (A-Book execution)', 45200, 'Investigating', 'High'),
('Delayed Stop-Loss Triggers', 12800, 'Resolved', 'Medium'),
('Uncollected Swap Fees', 8500, 'Open', 'Low')
ON CONFLICT DO NOTHING;

INSERT INTO public.market_control (session_name, status, open_time, close_time, type) VALUES
('NSE Equity (Cash)', 'Open', '09:15', '15:30', 'Session'),
('NSE F&O', 'Open', '09:15', '15:30', 'Session'),
('MCX Commodities', 'Closed', '09:00', '23:30', 'Session'),
('Forex (CDS)', 'Closed', '09:00', '17:00', 'Session')
ON CONFLICT DO NOTHING;

INSERT INTO public.smart_spread (profile_name, base_spread, volatility_multiplier, active_clients, status) VALUES
('Standard (B-Book)', 0.5, 1.2, 12450, 'Active'),
('Aggressive (News Events)', 1.5, 2.5, 12450, 'Inactive'),
('VIP Tight Spread', 0.2, 1.0, 420, 'Active'),
('Illiquid Protection', 2.0, 3.0, 12450, 'Active')
ON CONFLICT DO NOTHING;

